<!DOCTYPE html>


<header>

</header>

  <body>

     <% if user_signed_in? %>
    <!-- アイコンの色を変更したい -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarEexample7">
            <p class="title nav navbar-left">Bookers2</p>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <%= link_to "Home", user_path(current_user.id), class: "user_#{current_user.id}" %></li>
                <li class="nav-item">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <%= link_to "Users", users_path, class: "users" %></li>
                <li class="nav-item">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            <%= link_to "Books", books_path, class: "books" %></li>
                <li class="nav-item">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            <%= link_to "LogOut", destroy_user_session_path, method: :delete, class: "logout" %></li>
            </ul>
            </div>
            </div>
        </nav>

    <% else %>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarEexample7">
            <p class="title nav navbar-left">Bookers2</p>
            <ul class="navbar-nav navbar-right">
                 <li class="nav-item">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <%= link_to "Home", top_path, class: "home" %></li>
                 <li class="nav-item">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            <%= link_to "About", about_path, class: "about" %></li>
                <li class="nav-item">
            <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>
            <%= link_to "Sign up", new_user_registration_path, class: "sign_up" %></li>
                <li class="nav-item">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            <%= link_to "Log In", new_user_session_path, class: "sign_in" %></li>
            </ul>
            </div>
            </div>
        </nav>
    <% end %>






    <title>Bookers2</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield %>
  </body>
</html>

